<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>

  <appSettings>
    <add key="Gateway" value="https://pay.storepos.cn/UnifiedPay/Gateway"/>
    <!--<add key="Gateway" value="http://127.0.0.1:60006/UnifiedPay/Gateway" />-->
    <add key="Times" value="10"/>
  </appSettings>
</configuration>
